.ptl-form-item-text {
    background-color: #f7f7f7;
    display: inline-block;
    padding: 5px 10px;
    height: 32px;
    border-radius: 5px;
    color: #49494c;
    min-width: 100px;
}
.ptl-header-apps{
    i {
        font-size: 20px;
    }
}
.ptl-header-help {
    i {
        font-size: 22px;
    }
}
.ptl-index-apps{
    max-width: 1200px;
    margin: 20px auto;
    .ptl-apps-title{
        line-height: 32px;
        font-size: 16px;
        font-weight: 500;
        color: #555;
    }
    .cxd-Card{
        .cxd-Card-heading{
            .cxd-Card-title{
                font-size: 15px;
                color: #212121;
            }
            .cxd-Card-avtar{
                width: 50px;
                height: 50px;
            }
            .cxd-Card-subTitle{
                color: #888;
            }
        }
        .cxd-Card-body{
            padding-left: 77px;
            .ptl-app-tags{
                .cxd-Container-body{
                    .cxd-TplField{
                        background: #e7edf9;
                        color: #6f67bd;
                        padding: 3px 8px;
                        border-radius: 5px;
                        margin-right: 8px;
                        display: inline-block;
                        font-size: 12px;
                    }
                }
            }
        }
        .cxd-Card-actions{
            .cxd-Card-action{
                font-size: 14px;
                font-weight: 500;
                color: #777;
                flex: 1;
                text-align: center;
                line-height: 2.5rem;
            }
            & >.text-primary{
                color: #007bff;
            }
            &>.text-danger{
                color: #dc3545;
            }
        }
    }
}
.ptl-header-index-account{
    .nb-icon-btn{
        background: transparent !important;
        border-color: transparent !important;
        color: #fff !important;
        &:hover{
            border-color: transparent !important;
            background-color: transparent !important;
        }
    }
}
.ptl-develop-repo-edit{
    position: absolute;
    right: 10px;
    top: 14px;
    border: 0;
    i {
        font-size: 20px;
    }
    &:hover{
        border: 0 !important;
    }
}
.ptl-config-card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px #e7e7e7;
    border: 0;
    .cxd-Card-title {
        font-size: 22px;
        text-transform: uppercase;
        color: #313131;
    }
    .cxd-Card-body{
        .cxd-Card-field{
            padding: 5px 0;
            .cxd-Card-fieldLabel{
                width: 85px;
            }
            .cxd-Card-fieldValue{
                color: #585858;
                font-weight: 500;
                .cxd-Form-static{
                    padding: 0;
                }
            }
        }
    }
    .cxd-Card-action{
        span {
            font-size: 13px;
            color: #1934ca;
        }
        i {
            font-size: 14px;
            color: #1934ca;
        }
        &.text-danger {
            i {
                color: #dc3545
            }
            span{
                color: #dc3545
            }
        }
    }
}
.ptl-instance-info-card{
    height: 450px;
    .cxd-Form{
        margin-top: 15px;
        .cxd-Form-item{
            margin-bottom: 10px;
            .cxd-Form-label{
                width: 5rem;
            }
            .cxd-Form-value{
                color: #777;
            }
        }
        .cxd-Button{
            margin-bottom: 10px;
        }
    }

}
.ptl-instance-operation-card{
    .cxd-Card-avtar{
        width: 3rem;
    }
    .cxd-Card-body{
        padding: 0;
    }
    &-actions{
        .cxd-Container{
            width: 100%;
            .cxd-Container-body{
                display: flex;
                flex-direction: row;
                padding: 8px;
                border-top: 1px solid #f7f8fa;
                .cxd-Button {
                    flex: 1;
                    padding: 0;
                    &:first-of-type{
                        border-right: 1px solid #f7f8fa;
                    }
                    &:last-of-type{
                        border-left: 1px solid #f7f8fa;
                    }
                }
            }
        }
    }
}
.ptl-instance-log-card{
    .cxd-Log-body{
        font-size: 13px;
    }
}
